@tailwind base;
@tailwind components;
@tailwind utilities;

/*  img base layer is modified for Pdf to work properly. Default img styling in base layer is Block */
@layer base {
  img,
  canvas {
    @apply inline-block;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.page-item {
  margin: 0 4px;
}

.page-link {
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #666cff;
  text-decoration: none;
}

.page-link:hover {
  background-color: #f1f1f1;
}

.active .page-link {
  background-color: #666cff;
  color: white;
  border: 1px solid #666cff;
}

/* the solution for employee admin panel cards issue */
.makeStyles-TaskBoxHeading-1,
.makeStyles-TaskBoxHeading-3,
.makeStyles-TaskBoxHeading-2,
.makeStyles-TaskBoxHeading-4,
.makeStyles-TaskBoxHeading-5,
.makeStyles-TaskBoxHeading-6 {
  display: block !important;
}
/* the solution for sidebar scroll issue*/
.css-1giaxtu-MuiList-root{
  max-height: 170vh !important;
}
/* to solve the buttons at the bottom of create task page issue, 
I added the following code to the index.css file: */

.css-2qpj53-MuiButtonBase-root-MuiButton-root{
  width: 100% !important;
}
.css-1equabv-MuiGrid-root{
  flex-grow: 1 !important;
  max-width: 100% !important;
}
@media (min-width: 600px) {
  .css-zbaamk-MuiGrid-root{
    flex-basis: 30%;
  }
  .css-zbaamk-MuiGrid-root {
      flex-grow: 1 !important;
      max-width: 100% !important;
  }
}
@media (min-width: 1000px) {
  .css-1equabv-MuiGrid-root{
    flex-grow: 1 !important;
    max-width: 30% !important;
  }
  .css-zbaamk-MuiGrid-root {
      flex-grow: 1 !important;
      max-width: 30% !important;
  }
}


/* to solve the issue of the responsiveness at the leave/loan form section*/
@media (max-width: 700px) {
  .css-12itpog-MuiPaper-root{
    padding: 30px !important;
  }
  .css-16jurb0{
    padding: 0px !important;
  }
}
@media (max-width: 600px) {
  .css-12itpog-MuiPaper-root{
    padding: 10px !important;
  }
  .css-16jurb0{
    padding: 0px !important;
  }
  .css-168ikf9-MuiStack-root{
    padding: 5px !important;
  }
}

/*to solve the issue in employee avaluation*/
.css-4muqlg-MuiGrid-root{
  padding-top: 0px !important;
}
.css-4muqlg-MuiGrid-root>.MuiGrid-item{ 
  padding-bottom: 10px !important;
  padding-top: 0px !important;
}

.css-4muqlg-MuiGrid-root{
  margin-top: -16px !important;
  margin-right: 16px !important;
}



@media (max-width: 900px) {
.css-1i3rjxp-MuiGrid-root>.MuiGrid-item,
.css-1i3rjxp-MuiGrid-root{
  padding-left: 0px !important;
}
}