@tailwind base;
@tailwind components;
@tailwind utilities;

/*  img base layer is modified for Pdf to work properly. Default img styling in base layer is Block */
@layer base {
  img,
  canvas {
    @apply inline-block;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.page-item {
  margin: 0 4px;
}

.page-link {
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #666cff;
  text-decoration: none;
}

.page-link:hover {
  background-color: #f1f1f1;
}

.active .page-link {
  background-color: #666cff;
  color: white;
  border: 1px solid #666cff;
}

/* the solution for employee admin panel cards issue */
.makeStyles-TaskBoxHeading-1,
.makeStyles-TaskBoxHeading-3,
.makeStyles-TaskBoxHeading-2,
.makeStyles-TaskBoxHeading-4,
.makeStyles-TaskBoxHeading-5,
.makeStyles-TaskBoxHeading-6 {
  display: block !important;
}
/* the solution for sidebar scroll issue*/
.css-1giaxtu-MuiList-root{
  max-height: 170vh !important;
}
/* to solve the buttons at the bottom of create task page issue, 
I added the following code to the index.css file: */

.css-2qpj53-MuiButtonBase-root-MuiButton-root{
  width: 100% !important;
}
.css-1equabv-MuiGrid-root{
  flex-grow: 1 !important;
  max-width: 100% !important;
}
@media (min-width: 600px) {
  .css-zbaamk-MuiGrid-root {
      flex-grow: 1 !important;
      max-width: 100% !important;
  }
}
@media (min-width: 1200px) {
  .css-1equabv-MuiGrid-root{
    flex-grow: 1 !important;
    max-width: 30% !important;
  }
  .css-zbaamk-MuiGrid-root {
      flex-grow: 1 !important;
      max-width: 30% !important;
  }
}